.content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 200px;
    height: 100px;
    margin: 0px 20px 0px 0px;
    font-size: 50px;
    border: none;
}

select {
    width: 200px;
    border: none;
    border-bottom: 1px solid black;
}